@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;1,500&family=Sriracha&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    height: 1000px;


    background-color: #cce0d5;

}

.top-bar {
    height: 80px;
    background-color: #021c55;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 95%;
    border-radius: 8px;
    margin: 30px auto;
}

.top-bar-left{
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    padding: 5px;
    text-align: center;

}

.top-bar-center{  
    display: flex;
    width: 75%;
    align-items: center;
    padding: 10px;
    color: rgb(255, 255, 255);
    font-size: 40px;
}

.top-bar-right {
    justify-content: space-between;
    align-items: end;
    display: flex;

    width: 300pxs;
}
.name{
    text-decoration: none;
    color: white;
    opacity: 1;
    width: 45px;
    transition: all 0.5s;
}
.name:hover{
    opacity: 0.5;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
    
}
.member {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    height: 280px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: saturate(180%) blur(2px);
    
}
.member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}
