@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;1,500&family=Sriracha&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #FFFFFF;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTdqfmXTl9_Q3mabDIw4xJ--XGdPNy0nUnvfQ&s');
    background-position: center bottom;
    background-size: cover;
    background-repeat: space;
}
.top-bar {
    height: 100px;
    background-color: blue;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 95%;
    border-radius: 8px;
    margin: 30px auto;

}

.top-bar-left {
    display: flex;
    width: 38%;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    padding: 10px;
    text-align: center;
    height: 60px;
}

.top-bar-center {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 230px; 
    color: rgb(255, 255, 255);
    font-size: 30px;
}

.top-bar-right {
    justify-content: space-between;
    text-align: center;
    display: flex;
    font-size: 25px;
    text-align: center;
}


.tourist-spot {
    display: flex;
    margin: 20px auto;
    padding: 20px;
    background-color: #eeedf1;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    align-items: top;
}

.tourist-spot h2 a {
    color: #ff6600;
    text-decoration: none;
    font-size: 35px;
    margin-left: 30px;

}

.tourist-spot p {
    margin-left: 30px;
    font-size: 24px;
}

.tourist-spot img {
    width: 50%;
    height: auto;
    border-radius: 8px;
}

.footer {
    background-color: blue;
    color: white;
    text-align: center;
    padding: 10px;
}
.name{
    text-decoration: none;
    color: white;
    opacity: 1;
    width: 45px;
    transition: all 0.5s;
}
.name:hover{
    opacity: 0.5;
}